body {
  margin: 0;
  background-color: #f5c6a5;
}
.head {
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  color: #852747;
}
.periodic-table {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}
.periodic-table .nonmetal {
  background-color: #b4dc96;
  display: flex;
  justify-content: center;
}
.periodic-table .nobleGas {
  background-color: #e61e50;
  display: flex;
  justify-content: center;
}
.periodic-table .alkali {
  background-color: #149b5f;
  display: flex;
  justify-content: center;
}
.periodic-table .earthMetal {
  background-color: #0f69af;
  display: flex;
  justify-content: center;
}
.periodic-table .metalloid {
  background-color: #ffc832;
  display: flex;
  justify-content: center;
}
.periodic-table .postTransition {
  background-color: #2dbecd;
  display: flex;
  justify-content: center;
}
.periodic-table .transitionMetal {
  background-color: #503291;
  display: flex;
  justify-content: center;
}
.periodic-table .lanthanide {
  background-color: #eb3c96;
  display: flex;
  justify-content: center;
}
.periodic-table .actinide {
  background-color: #e1c3cd;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 10px;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.emptySpace1,
.emptySpace2,
.emptySpace3 {
  display: none;
}
@media (min-width: 768px) {
  .head {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 40px);
    grid-template-rows: repeat(9, 40px);
    justify-content: center;
    margin-top: 30px;
    gap: 3px;
  }

  .title {
    font-size: 5px;
  }
  .emptySpace1 {
    grid-column: 2/18;
    display: block;
  }
  .emptySpace2 {
    grid-column: 3/13;
    display: block;
  }
  .emptySpace3 {
    grid-column: 1/4;
    display: block;
  }
}
@media (min-width: 1024px) {
  .periodic-table {
    grid-template-columns: repeat(18, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 5px;
    margin-top: 10px;
  }
}
